/* Flex */

.flex {display: flex}

.row {flex-direction: row}
.row-reverse {flex-direction: row-reverse}
.column {flex-direction: column}
.column-reverse {flex-direction: column-reverse}

.nowrap {flex-wrap: nowrap}
.wrap {flex-wrap: wrap}
.wrap-reverse {flex-wrap: wrap-reverse}

.justify-between {justify-content: space-between}

.grow-1 {flex-grow: 1}
.grow-2 {flex-grow: 2}
.shrink-0 {flex-shrink: 0}

.basis-25 {flex-basis: 25%}

.outer {
    background: #ccc;
}

.inner {
    padding: 20px;
    margin: 20px;
    background: #07a;
    color: #fff;
    font-size: 2rem;
    text-align: center;
}

.red {
    background: #c00;
}
.green {
    background: #0c0;
}

.order-example .red {order: -1}
.order-example .green {order: 1}


/* Columns */

.columns {
    columns: 3 200px;
    column-gap: 2em;
}


/* Animations */
section:target .scroll-play {
    animation: scroll 4s linear 1s infinite alternate;
}
@keyframes scroll {
    from { margin-top: 0; }
    to { margin-top: -60%; }
}

section:target .width-play {
    animation: width 4s linear 1s infinite alternate;
}
@keyframes width {
    from { width: 100%; }
    to { width: 66%; }
}
